<!-- Projeto Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Projetos de Análise de Dados com Linguagem Python</font>
# <font color='blue'>Projeto 8 - Técnicas de Visualização de Dados</font>

## Pacotes Python Usados no Projeto

In [1]:
!pip install -q -U watermark

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

## Carregando os Dados

> Estamos importando o dataset gerado ao final do Projeto 7.

In [4]:
# Carregando os dados
dados = pd.read_csv("resultado_projeto7.csv")

In [5]:
# Visualizando os dados
dados.head()

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,number_outpatient,number_emergency,number_inpatient,number_diagnoses,change,diabetesMed,readmitted,comorbidade,num_alt_dosagem_med,num_med
0,149190,55629189,Caucasian,0,[0-50),Emergencia,Casa,Sala_Emergencia,3,59,...,0,0,0,9,1,1,1,1,1,1
1,64410,86047875,AfricanAmerican,0,[0-50),Emergencia,Casa,Sala_Emergencia,2,11,...,2,0,1,6,0,1,0,1,0,1
2,500364,82442376,Caucasian,1,[0-50),Emergencia,Casa,Sala_Emergencia,2,44,...,0,0,0,7,1,1,0,3,1,1
3,16680,42519267,Caucasian,1,[0-50),Emergencia,Casa,Sala_Emergencia,1,51,...,0,0,0,5,1,1,0,1,0,2
4,35754,82637451,Caucasian,1,[50-60),Outro,Casa,Outro,3,31,...,0,0,0,9,0,1,1,3,0,1

In [6]:
# Shape
dados.shape

(68629, 22)

In [7]:
# Info
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68629 entries, 0 to 68628
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              68629 non-null  int64
 1   patient_nbr               68629 non-null  int64
 2   race                      68629 non-null  object
 3   gender                    68629 non-null  int64
 4   age                       68629 non-null  object
 5   admission_type_id         68629 non-null  object
 6   discharge_disposition_id  68629 non-null  object
 7   admission_source_id       68629 non-null  object
 8   time_in_hospital          68629 non-null  int64
 9   num_lab_procedures        68629 non-null  int64
 10  num_procedures            68629 non-null  int64
 11  num_medications           68629 non-null  int64
 12  number_outpatient         68629 non-null  int64
 13  number_emergency          68629 non-null  int64
 14  number_inpatient          68629 non-null  int64
 15  number_diagnoses          68629 non-null  int64
 16  change                    68629 non-null  int64
 17  diabetesMed               68629 non-null  int64
 18  readmitted                68629 non-null  int64
 19  comorbidade               68629 non-null  int64
 20  num_alt_dosagem_med       68629 non-null  int64
 21  num_med                   68629 non-null  int64
dtypes: int64(17), object(5)
memory usage: 11.5+ MB

## Agora é Com Você!

Tente criar os gráficos de acordo com os objetivos listados abaixo!

#### 1- Total de Medicamentos Consumidos Por Faixa Etária

#### 2- Total de Readmissões de Pacientes Diabéticos Por Gênero

#### 3- Total de Readmissões de Pacientes Por Faixa Etária

#### 4- Percentual de Readmissões/Não Readmissões de Pacientes Por Faixa Etária

#### 5- Total de Readmissões de Pacientes Por Gênero, Por Idade e Por Tipo de Admissão

####  6- Total de Readmissões/Não Readmissões Por Gênero e Por Raça

#### 7- Número de Visitas x Comorbidade

#### 8- Proporção de Readmissões Pelo Número de Visitas Antes da Alta

#### 9- Qual a Frequência do Número de Medicamentos Consumidos?

#### 10- Comportamento do Paciente Por Procedimentos Clínicos

In [8]:
%watermark -a "Data Science Academy"

Author: Data Science Academy

In [9]:
#%watermark -v -m

In [10]:
#%watermark --iversions

# Fim